/* Modification de la page de connexion UCA */
/* Theme ( Anime | Your Name | Sombre | Zero Two ) */

/* Theme general par defaut de la page */
@font-face{font-family:'Merriweather Sans';src:url("../fonts/MerriweatherSans-Regular.ttf")}@font-face{font-family:'Signika';src:url("../fonts/Signika-Regular.ttf")}body{font:12pt "Merriweather Sans",sans-serif;color: #b7b7b7;background-color:#5E5C5C;margin:0;padding:0;}.cas-center{width:100%;text-align:center;background-color: #3e3e3e9c;top: -17px;}.cas-center .cas-header{font:1.9em "Signika",sans-serif;color: #d6d6d6;background-color: #353535;padding:30px;}.cas-center .cas-header .logo::before{content:url("../images/logo_uca_mini_light.png");padding-bottom:20px;margin:auto}.cas-center .cas-body{padding:10px 0}.cas-center .cas-footer{padding:10px 40px}.cas-center .cas-footer .link{display:inline-block;margin: -100px 0;font-size:0.8em;visibility: hidden;}.form-input{padding:10px;display:inline-block}.form-input label{font-weight:bold;background-color: #fff0;padding: 6px;top: auto;}.form-input input{display:block;font-size:1em;font-family:"Signika",sans-serif;color: #eaeaea;background-color: #d8d8d82e;width:100%;border: #30608a;border-radius:3px;padding:10px;margin-top: 4px;-webkit-box-shadow:0 0 1px 0 #5E5C5C;-moz-box-shadow:0 0 1px 0 #5E5C5C;box-shadow: 0 0 1px 0 #5E5C5C;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;}.form-input input:focus{outline:none;border-color:#178F96;-webkit-box-shadow:0 0 5px 0 #178F96;-moz-box-shadow:0 0 5px 0 #178F96;box-shadow:0 0 5px 0 #178F96}.button{color: #fff;font:bold 0.9em "Merriweather Sans",sans-serif;text-decoration:none;padding:15px 30px;border:none;-webkit-border-radius:7px;-moz-border-radius:7px;-ms-border-radius:7px;border-radius:7px;display:inline-block;-webkit-appearance:none;}.button:hover{cursor:pointer}.button:focus{outline:none}.button.button-uca-blue{color: #d2d2d2;background-color: #4c4c4c;}.button.button-uca-blue:hover:not(.disabled){background-color:#5FC6CC}.text-error{color:#EF5350}a{color: #0086f700;cursor:pointer;}a:hover{color:#5FC6CC}a:active{color:#EBCEB2}@media screen and (min-width: 768px){body{background: url("https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif") no-repeat center fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}.cas-center{position:absolute;width:450px;top:10%;left:0;right:0;margin:0px auto 10px;-webkit-box-shadow:0px 15px 15px -10px #5E5C5C;-moz-box-shadow:0px 15px 15px -10px #5E5C5C;box-shadow:0px 15px 15px -10px #5E5C5C}.cas-center .cas-header{padding: 20px;}.cas-center .cas-header .logo::before{position:absolute;content: url("https://i.ibb.co/y5yCLDQ/3cdc8b2254d5a4ed3e6d02df4dab8bb9-1.png");left: -50px;top: -17px;-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);-ms-transform:rotate(-5deg);-o-transform:rotate(-5deg);transform:rotate(-5deg);}}

/* Modification du css */

/* Logo */
.cas-center .cas-header .logo::before {
    position: absolute;
    content: url(https://i.ibb.co/y5yCLDQ/3cdc8b2…-1.png);
    left: -50px;
    top: -17px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

/* Cadre */
.cas-center {
    text-align: center;
    background-color: #3e3e3e9c;
}

/* Fenetre d'entre de l'identifiant et du mot de passe */
.form-input input {
    display: block;
    font-size: 1em;
    font-family: "Signika",sans-serif;
    color: #eaeaea;
    background-color: #d8d8d82e;
    width: 100%;
    border: #30608a;
    border-radius: 3px;
    padding: 10px;
    margin-top: 4px;
    -webkit-box-shadow: 0 0 1px 0 #5E5C5C;
    -moz-box-shadow: 0 0 1px 0 #5E5C5C;
    box-shadow: 0 0 1px 0 #5E5C5C;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Bouton Connexion */
.button.button-uca-blue {
    color: #d2d2d2;
    background-color: #4c4c4c;
}

/* Bas du block (oublie de mdp, etc...) */
.cas-center .cas-footer .link {
    display: inline-block;
    margin: -100px 0;
    font-size: 0.8em;
    visibility: hidden;
}


.cas-center .cas-header {
    font: 1.9em "Signika",sans-serif;
    color: #d6d6d6;
    background-color: #353535;
    padding: 30px;
    border-radius: 35px;
}

/* Cadre */
.cas-center {
    position: absolute;
    width: 450px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0px auto 10px;
    box-shadow: 0px 10px 100px -10px #2a83de;
    border-radius: 35px;
}